Repository eser/design-patterns: changes, and which pre-commit hooks are due for each by the changed paths.
All: kebab-case-files-only, deno-fmt-check, deno-lint-check, deno-test

kebab-case-files-only:
  name: kebab-case files only
  entry: filenames must be kebab-case only
  language: fail

deno-fmt-check:
  name: deno formatter check
  description: Auto-format JavaScript, TypeScript, Markdown, and JSON files.
  entry: deno fmt --check
  pass_filenames: false
  language: system

deno-lint-check:
  name: deno lint check
  description: Lint JavaScript/TypeScript source code.
  entry: deno lint
  pass_filenames: false
  language: system

deno-test:
  name: deno test
  description: Run tests using Deno's built-in test runner.
  entry: deno task test
  pass_filenames: false
  language: system

fine tuning for pre-commit kebab-case checks.
  .pre-commit-config.yaml
  deno.lock
Due: kebab-case-files-only

added factory pattern and several licenses.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  deno.jsonc
  import-map.json
  samples/factory/functional.ts
  samples/factory/oop.ts
  src/factory/factory.ts
  src/factory/mod.ts
Due: kebab-case-files-only, deno-fmt-check, deno-lint-check, deno-test

added singleton pattern and tests.
  samples/factory/functional.ts
  samples/factory/oop.ts
  samples/singleton/functional.ts
  samples/singleton/oop.ts
  src/creational/factory/factory.test.ts
  src/creational/factory/factory.ts
  src/creational/factory/mod.ts
  src/creational/singleton/mod.ts
  src/creational/singleton/singleton.test.ts
  src/creational/singleton/singleton.ts
  src/factory/factory.ts
  src/shared/create-instance.ts
  src/shared/types.ts
Due: kebab-case-files-only, deno-fmt-check, deno-lint-check, deno-test

updated README.md
  README.md
  src/behavioral/.gitkeep
  src/structural/.gitkeep
Due: deno-fmt-check, deno-lint-check

All four operation math functions were created.
  src/main.js
Due: deno-fmt-check, deno-lint-check, deno-test

Asset Equals has been created for the other four operations math functions.
  src/main.test.ts
Due: deno-fmt-check, deno-lint-check, deno-test

add adapter sample for hypothetical payment service
  import-map.json
  samples/adapter/adapter.ts
  samples/adapter/new.ts
  samples/adapter/old.ts
Due: kebab-case-files-only, deno-fmt-check, deno-lint-check, deno-test

update the format
  samples/adapter/adapter.ts
  samples/adapter/new.ts
  samples/adapter/old.ts
Due: deno-fmt-check, deno-lint-check, deno-test

update README
  README.md
Due: deno-fmt-check, deno-lint-check

Path conditions:
  kebab-case-files-only: any of: [^a-z0-9./-\[\]\@]
  deno-fmt-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
  deno-lint-check: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
  deno-test: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$
